<!DOCTYPE html>

<html>      
    <head>
        <title>Admin Page</title>
    </head>
    <body>
        <div class="nav">
            <a href="/logging"><button class="navbtn">Logging</button></a>
            <a href="/registration"><button class="navbtn">Registration</button></a>
            <a href="/admin"><button class="navbtn">Admin</button></a>
        </div>


        <h2>Admin Settings</h2>


        <p>Here you can manage the administrative settings of the application.</p>


        <a href="/admin/export_csv"><button>Export data to CSV</button></a>
    </body>
</html>
<style>
.navbtn {
        position: relative;
        width: 7%;
        border-style: none;
        border-radius: 5px;
        background-color: red;
        color: black;
        height: 7%;
        transition: width .5s;
}
.navbtn:hover {
        width: 10%;
}
</style>