<!DOCTYPE html>
<html>
<body>
    <div class="nav">
        <button class="navbtn">About</button>
        <a href="logging.html"><button class="navbtn">Logging</button></a>
        <button class="navbtn">Registration</button>
        <button class="navbtn">Leaderboard</button>
        <button class="navbtn">Admin</button>
    </div>
    <form method="post">
        <h3>Enter Your Username</h3>
        <input type="text" name="username" required>
        <br><br>
        <h3>Enter Your Pin</h3>
        <input type="text" name="pin" required>
        <br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
<style>
.navbtn {
        position: relative;
        width: 7%;
        border-style: none;
        border-radius: 5px;
        background-color: red;
        color: black;
        height: 7%;
        transition: width .5s;
}
.navbtn:hover {
        width: 10%;
}
</style>
